@mixin flex($dir) {
    display: flex;
    flex-direction: $dir;
    align-items: center;
    text-align: center;
}

.counter {
    width: 100%;
    @include flex(row);

    & span {
        @include flex(column);
        margin-top: 10px;
        margin-left: 60px;
    }

    & span > span {
        @include flex(column);
        font-size: 3.5rem;
        font-weight: 600;
        color: #f2f2f8;
        margin-top: 0;
        margin-left: 0;

    }
    & span > small {
        font-size: 1.5rem;
        font-weight: 500;
    }
}